<!-- init -->
<!DOCTYPE html>
<html lang="en">
	<head>
        <!--	/* https://blog.csdn.net/xiaojinlai123/article/details/90694372 */-->
		<meta charset="UTF-8">
		<title>登录</title>
		<script src="../static/plugins/vue.js"></script>
		<script type="text/javascript" src="../static/html.js"></script>
		<script type="text/javascript" src="../static/plugins/echarts-3.7.1/echarts.min.js"></script>
		<script type="text/javascript" src="../static/plugins/jquery/jquery-2.2.3.min.js"></script>
	</head>
	<style type="text/css">
		html,
		body {
			height: 100%;
		}

		* {
			margin: 0;
			padding: 0;
		}
	</style>
	<body>
		<a onclick="sub()"></a>
		<div id="app" style="width: 100%;height: 100%;">

		</div>

		<script type="text/javascript">
			var name = '${list1}';
			var app = new Vue({
				el: "#app",
				methods: {
					send() {
						axios({
							method: 'get',
							url: 'menu/list'
						}).then(function(res) {
							console.log(res);
						});
					},sub(){
						console.log(123)
					}
				}
			});
			let myChart = echarts.init(document.getElementById('app'));
			myChart.on('click', function (params) {
				console.log(params);
				window.open('/om/pay/index');
			});
			/* https://www.cnblogs.com/koala2016/archive/2016/12/01/6123003.html */
			let option = {
				legend: [{
					data: ['Java工程师', 'Python工程师', 'Web工程师'],
					top: '40px'
				}],
				grid: {
					top: "50px",
					left: "50px",
					right: "15px",
					bottom: "50px",
					width: "auto", //图例宽度

					height: "100%", //图例高度
				},
				series: [{
					type: 'graph',
					tooltip: {
						show: false
					},
					animationDurationUpdate: function(idx) {
						// 越往后的数据延迟越大
						return idx * 100;
					},
					animationEasingUpdate: 'bounceIn',

					categories: [{
							name: 'Java工程师'
						},
						{
							name: 'Python工程师'
						},
						{
							name: 'Web工程师'
						}
					],

					layout: 'force',
					force: {
						repulsion: 500,
						edgeLength: 10
					},
					label: {
						normal: {
							show: true
						}
					},

					data: [{
							id: 0,
							name: '设计模式',
							category: 'Java工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 1,
							name: 'spring',
							category: 'Java工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 2,
							name: '框架',
							category: 'Java工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 3,
							name: 'mysql',
							category: 'Java工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 4,
							name: 'mongodb',
							category: 'Java工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 5,
							name: 'ajax',
							category: 'Java工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 6,
							name: 'python',
							category: 'Python工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 7,
							name: 'linux',
							category: 'Python工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 8,
							name: 'flask',
							category: 'Python工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 9,
							name: 'django',
							category: 'Python工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 10,
							name: 'mongodb',
							category: 'Python工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 11,
							name: 'mysql',
							category: 'Python工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 12,
							name: 'html',
							category: 'Web工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 13,
							name: 'web前端',
							category: 'Web工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 14,
							name: 'css',
							category: 'Web工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 15,
							name: 'javascript',
							category: 'Web工程师',
							symbolSize: 80,
							draggable: true
						},
						{
							id: 16,
							name: 'java',
							category: 'Java工程师',
							symbolSize: 100,
							draggable: true
						},
					]
				}]
			};
			myChart.setOption(option);
		</script>
	</body>
</html>
